/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141414; /* Netflix-like dark background */
}

.project-name {
  color: #e50914; /* Netflix red */
  font-size: 4rem;
  font-weight: bold;
  animation: fadeInOut 3s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: scale(0.8); }
  50% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(1.2); }
}
