body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #354840;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.login-form {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  color: white;
  width: 320px;
  animation: slideUp 0.8s ease forwards;
  transform: translateY(50px);
  opacity: 0;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: none;
  border-radius: 8px;
  background: white;
  color: #354840;
  font-weight: bold;
  transition: 0.3s;
}

.login-form input:focus {
  outline: none;
  box-shadow: 0 0 5px #ffffff;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background: white;
  color: #354840;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  background: #d3d3d3;
}

.error {
  color: #27be32;
  margin-bottom: 10px;
  text-align: center;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    background-color: #1e2c26;
  }
  to {
    background-color: #354840;
  }
}
